<h1>Show Article</h1>
Escrito por: <%= @article.user.email %>
Visitas: <%= @article.visits_count %>
<h2><%= @article.title %></h2>
<p><%= @article.body %></p>

<%= link_to "Editar", edit_article_path(@article) %>

<div class="field">
	<h3>Comentarios</h3>
	<% @article.comments.each do |comment| %>
		<li><%= comment.body %> - <%= current_user.email %></li>
	<% end %>
	<%= render "comments/form" %>

</div>